#grid-container {
   
    display: grid;

    width: 700px;
    height: 700px;
    margin: 2rem;
  }

  #grid-btn {
   position: absolute;
    top : 40px;
    right: 50px;
  }
  
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    
  
  }
 
 
 
 
 
  body {

    background: gray
  }
  